.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #516d3b;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 10;
}

.HeaderImage {
    width: 100%;
    height: 35rem;
    z-index: 0;
    overflow: hidden;
}

.HeaderImage img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(-6deg) translateY(-3rem) translateX(-2rem);
}

.logo {
}

.logo-title {
    color: rgb(240, 255, 241);
    display: block;
    font-size: 2rem;
    letter-spacing: 10px;
    animation-name: logoAnimation;
    animation-duration: 3s;
}

.motto {
    display: block;
    font-size: 1rem;
    word-spacing: 5px;
    letter-spacing: 5px;
    animation-name: mottoAnimation;
    animation-duration: 3s;
}

@keyframes logoAnimation {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }
    50% {
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes mottoAnimation {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }
    50% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
