.main-div {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.card {
    background-color: rgba(42, 32, 67, 0.886);

    width: 25%;
    height: 600px;
    margin: 25px 20px 25px 20px;
    padding: 10px;
    color: rgb(255, 243, 243);
}

.card-img {
    width: 100%;
    height: 400px;
}

.card-tittle {
    display: block;
}

.card-description {
    display: block;
}

.card-button {
    width: 80px;
    height: 30px;
    background-color: darkcyan;
}
