@mixin btn-anim ($borderRadious, $bg) {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: $borderRadious;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.6s;
        background-color: $bg;
}

@mixin btn-anim-hover($bg) {
    background-color: $bg;
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}