@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Oleo+Script&family=Pacifico&display=swap');
@import "./variables-mixins.scss";



*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: $color1;
    height: 5rem;
    position: relative;
    &-icon{
        color:$color2;
        font-size: 2rem;
        position: absolute;
        left: 2rem;
        top: 1rem;
        transition: .6s;
        @include btn-effect;
    }
    &-cart {
        position: absolute;
        top: 1rem;
        left: 85%;
    }

}


.logo{
    color: $color2;
    position: absolute;
    left: 8rem;
    top: .5rem;
    font-size: 1rem;
    font-family: 'Oleo Script', cursive;

    &-main{
        animation-name: logoAnimation;
        animation-duration: 4s;
        letter-spacing: 3px;
    }
    &-motto{
        letter-spacing: 4px;
        animation-name: mottoAnimation;
        animation-duration: 4s;
    }

}

.nav{

    &-main{
        top: 0;
        left: -100%;
        font-size: 2rem;
        background: none;
        background-color: $color1;
        width: 30%;
        height: 100vh;
        position: fixed;
        transition: 1s;
        z-index: 200;
        overflow: hidden;

    }


    &-list {
        margin-left: 2rem;
    }
    &-hide{
        list-style: none;
        font-size: 4rem;
        margin: 2rem  0 ;
        color: $color2;
        cursor: pointer;
        transition: 1s;
        @include btn-effect;

    }
    &-item{
        list-style: none;
    }

    &-link{
        width: 20%;
        @include clickable-component(none, $color2);
        
    }

    &-icon{
        margin-right: 1rem;
        

    }

}

.active{
    left: 0;
    overflow: hidden;
}

@keyframes logoAnimation {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }

    50% {
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes mottoAnimation {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

