@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Oleo+Script&family=Pacifico&display=swap');


$color1: rgba(98, 202, 250, 0.988);
$color2 : rgb(255, 255, 255);

*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-color: $color1;
    height: 5rem;
    position: relative;
    &-icon{
        color:$color2;
        font-size: 2rem;
        position: absolute;
        left: 2rem;
        top: 1rem; 
    }
}

.logo{
    color: $color2;
    position: absolute;
    left: 8rem;
    top: .5rem;
    font-size: 1rem;
    font-family: 'Oleo Script', cursive;

    &-main{
        animation-name: logoAnimation;
        animation-duration: 4s;
        letter-spacing: 3px;
    }
    &-motto{
        letter-spacing: 4px;
        animation-name: mottoAnimation;
        animation-duration: 4s;
    }

}

.nav{

    &-main{
        font-size: 2rem;
        background: none;
        background-color: $color1;
        width: 30%;
        height: 100vh;
        position: fixed;
        left: -100%;
        transition: 1s;
        z-index: 200;
        overflow: hidden;

    }


    &-list {
        margin-left: 2rem;
    } 
    &-item{
        list-style: none;
    }

    &-link{
        margin-bottom: 5rem;
        text-decoration: none;
        color: $color2;
        font-size: 1.3rem;
        display: flex;
        align-items: center;
    }

    &-icon{
        margin-right: 1rem;

    }

}

.active{
    left: 0;
}

@keyframes logoAnimation {
    0% {
        opacity: 0;
        transform: translateX(-60px);
    }

    50% {
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes mottoAnimation {
    0% {
        opacity: 0;
        transform: translateX(60px);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

